.filter-container{
    background-color: #F0FFE5;
    width:30%;
    padding:5px;
    align-self: flex-start;
    margin-right:15px;
}
@media screen and (max-width:767px){
    .filter-container{
        width:100%;
    }
}
.filter-text-c{
    display: flex;
    justify-content: space-between;
}
.item-name-container{
    display: flex;
    justify-content: space-between;
}
.labels-container{
    display:flex;
    flex-direction: column;
    list-style-type: none;
}
.labels-container > ul{
    margin:0px;
    line-height: 0.1;
    
}
.labels-container > ul > li{
    display:flex;
   
    
}
.labels-container > ul > li > input{
    align-self:center;
    margin-top:6px;
    
}
.label-name{
    margin-left:10px;
}
.plus-minus-btn{
    border:none;
    background-color: transparent;
}